html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

em {
  font-style: italic; }

strong {
  font-weight: bolder; }

a {
  color: inherit;
  text-decoration: none; }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #666666; }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    body {
      font-weight: 300; } }

.section__heading {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 300;
  line-height: 1;
  margin-bottom: 0.5em; }

.site-header {
  padding-top: 20px;
  padding-bottom: 20px;
  background: #FFF; }
  .site-header .site-logo-svg {
    display: block; }
  .site-header .container {
    position: relative; }
  .site-header__nav {
    text-transform: uppercase;
    width: calc(75% - 80px);
    bottom: calc(50% - 1.5em);
    right: 20px;
    position: absolute; }
    @media (max-width: 900px) {
      .site-header__nav {
        bottom: 0; } }
    @media (max-width: 600px) {
      .site-header__nav {
        right: 20px; } }
    .site-header__nav:after {
      content: "";
      display: table;
      clear: both; }
    .site-header__nav ul {
      float: right; }
      .site-header__nav ul:after {
        content: "";
        display: table;
        clear: both; }
    .site-header__nav li {
      float: left;
      padding-left: 10px; }
      @media (max-width: 900px) {
        .site-header__nav li {
          float: none; } }
    .site-header__nav a {
      display: block;
      padding: 0.5em;
      font-size: 24px;
      color: rgba(102, 102, 102, 0.5);
      cursor: pointer;
      font-weight: 300;
      -webkit-transition: all 0.3s;
              transition: all 0.3s; }
      @media (max-width: 900px) {
        .site-header__nav a {
          text-align: center;
          font-size: 16px; } }
      .site-header__nav a.active {
        color: #29abe2;
        pointer-events: none;
        -webkit-box-shadow: inset 0 0 0 1px #29abe2;
                box-shadow: inset 0 0 0 1px #29abe2; }
      .site-header__nav a:hover {
        background: rgba(41, 171, 226, 0.25);
        color: #29abe2; }

.site-logo-svg {
  width: 25%;
  max-width: 220px;
  min-width: 120px; }

.content-viewer {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  background: #d3d1cb;
  padding: 20px 20px 0 20px;
  opacity: 1;
  -webkit-transition: opacity 0.35s;
          transition: opacity 0.35s; }
  .content-viewer .container {
    height: 100%; }
  .content-viewer__header {
    min-height: 50px;
    margin-right: 70px; }
  .content-viewer__heading {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 300;
    line-height: 1; }
  .content-viewer__close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #333;
    background-image: url("../img/svg/close.svg");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    -webkit-transition: background 0.35s, -webkit-transform 0.25s 0.2s;
            transition: background 0.35s, transform 0.25s 0.2s; }
    .content-viewer__close:hover {
      background-color: #b90000; }
  .content-viewer__container {
    height: calc(100% - 100px);
    min-height: 300px;
    -webkit-transition: all 0.5s 0.2s;
            transition: all 0.5s 0.2s; }
  .content-viewer__controls {
    height: 40px; }
    .content-viewer__controls__control {
      height: 50px;
      line-height: 50px;
      width: 50%;
      float: left;
      text-align: center; }
  .content-viewer--empty {
    opacity: 0;
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0); }
    .content-viewer--empty .content-viewer__container {
      -webkit-transform: translate(0, 200px);
          -ms-transform: translate(0, 200px);
              transform: translate(0, 200px);
      opacity: 0; }
    .content-viewer--empty .content-viewer__close {
      -webkit-transform: scale(0);
          -ms-transform: scale(0);
              transform: scale(0); }

html, body {
  min-height: 100%; }

html {
  background: #fdfaf3;
  position: relative; }

body {
  height: 100%; }

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px; }
  @media (max-width: 600px) {
    .container {
      padding: 0 20px; } }

.section {
  padding: 40px 0; }

.section--branding {
  background-color: rgba(51, 51, 51, 0.2); }

.section--branding__grid {
  overflow: hidden;
  list-style: none;
  text-align: center;
  margin: 0 -10px; }

/* Common style */
.section--branding__grid-item-sizer {
  height: 0;
  padding-bottom: 100%; }

.section--branding__grid-item {
  position: relative;
  margin: 10px;
  z-index: 1;
  float: left;
  overflow: hidden;
  width: calc(25% - 20px);
  text-align: center;
  cursor: pointer; }
  @media (max-width: 860px) {
    .section--branding__grid-item {
      width: calc(50% - 20px); } }
  @media (max-width: 460px) {
    .section--branding__grid-item {
      width: calc(100% - 20px); } }
  .section--branding__grid-item--aef {
    background: #5a219a; }
    .section--branding__grid-item--aef .section--branding__grid-item__text::before {
      background: #5a219a; }
  .section--branding__grid-item--phonics {
    background: #38a6e5; }
    .section--branding__grid-item--phonics .section--branding__grid-item__text::before {
      background: #38a6e5; }
  .section--branding__grid-item--chelsea {
    background: #dea142; }
    .section--branding__grid-item--chelsea .section--branding__grid-item__text::before {
      background: #dea142; }
  .section--branding__grid-item--528 {
    background: #887939; }
    .section--branding__grid-item--528 .section--branding__grid-item__text::before {
      background: #887939; }
  .section--branding__grid-item--discover {
    background: #e37d0d; }
    .section--branding__grid-item--discover .section--branding__grid-item__text::before {
      background: #e37d0d; }
  .section--branding__grid-item--eup {
    background: #fec000; }
    .section--branding__grid-item--eup .section--branding__grid-item__text::before {
      background: #fec000; }
  .section--branding__grid-item--lunchbox {
    background: #ef4447; }
    .section--branding__grid-item--lunchbox .section--branding__grid-item__text::before {
      background: #ef4447; }
  .section--branding__grid-item--q {
    background: #67bb17; }
    .section--branding__grid-item--q .section--branding__grid-item__text::before {
      background: #67bb17; }

.section--branding__grid-item__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  width: 100%;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
          transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(1.12);
      -ms-transform: scale(1.12);
          transform: scale(1.12); }

.section--branding__grid-item__text {
  color: #fff;
  font-size: 1.25em; }
  .section--branding__grid-item__text::before {
    position: absolute;
    content: "";
    display: block;
    width: 200%;
    height: 200%;
    border-radius: 50%;
    left: -50%;
    top: -50%;
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
    -webkit-transition: -webkit-transform 0.25s;
            transition: transform 0.25s; }

.section--branding__grid-item__text,
.section--branding__grid-item__a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.section--branding__grid-item__a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0; }
  .section--branding__grid-item__a:before {
    content: "";
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    right: 10px;
    bottom: 10px;
    border-radius: 50%;
    background-color: #333;
    background-image: url("../img/svg/arrow-right.svg");
    background-repeat: no-repeat;
    background-position: center;
    -webkit-transition: all 0.35s;
            transition: all 0.35s;
    -webkit-transform: translate(-30%, 0%);
        -ms-transform: translate(-30%, 0%);
            transform: translate(-30%, 0%);
    opacity: 0; }

.section--branding__grid-item__head {
  font-weight: 300;
  height: 100%;
  border-radius: 50%;
  padding: 20px;
  opacity: 0;
  color: #fff;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.35s;
          transition: all 0.35s;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.section--branding__grid-item__head,
.section--branding__grid-item__p {
  margin: 0; }

.section--branding__grid-item__p {
  letter-spacing: 1px;
  font-size: 68.5%;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
          transition: opacity 0.35s, transform 0.35s;
  margin: 0 auto;
  max-width: 200px;
  -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
          transform: scale(1.5); }

.section--branding__grid-item:hover .section--branding__grid-item__head {
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1); }

.section--branding__grid-item:hover .section--branding__grid-item__p {
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1); }

.section--branding__grid-item:hover .section--branding__grid-item__img {
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1); }

.section--branding__grid-item:hover .section--branding__grid-item__a:before {
  -webkit-transform: translate(0, 0%);
      -ms-transform: translate(0, 0%);
          transform: translate(0, 0%);
  opacity: 1; }

.section--branding__grid-item:hover .section--branding__grid-item__text:before {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1); }

.img-flex {
  display: block;
  width: 100%; }

.shadow-effect img {
  border-style: solid;
  border-width: 0px 0px 10px;
  -webkit-border-image: url(../img/project-demo/ellipse-shadow.png) 0 0 40 stretch;
       -o-border-image: url(../img/project-demo/ellipse-shadow.png) 0 0 40 stretch;
          border-image: url(../img/project-demo/ellipse-shadow.png) 0 0 40 stretch; }

.shadow-effect {
  position: relative; }
  .shadow-effect:before {
    position: absolute;
    display: block;
    content: "";
    top: 0;
    right: 0;
    bottom: 10px;
    left: 0;
    -webkit-box-shadow: 10px 10px 7px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 10px 10px 7px 0 rgba(0, 0, 0, 0.2); }

.branding-project-demo-container {
  height: 100%;
  overflow: auto; }
  .branding-project-demo-container .branding-project--phonics {
    max-width: 1200px;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    .branding-project-demo-container .branding-project--phonics__box {
      position: relative; }
    .branding-project-demo-container .branding-project--phonics__box-1 {
      width: 50%;
      -webkit-box-flex: 0;
      -webkit-flex: 0 1 auto;
          -ms-flex: 0 1 auto;
              flex: 0 1 auto;
      padding: 20px; }
      @media (max-width: 750px) {
        .branding-project-demo-container .branding-project--phonics__box-1 {
          width: 100%; } }
    .branding-project-demo-container .branding-project--phonics__box-2 {
      padding: 20px;
      width: 50%;
      -webkit-box-flex: 0;
      -webkit-flex: 0 1 auto;
          -ms-flex: 0 1 auto;
              flex: 0 1 auto;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; }
      @media (max-width: 750px) {
        .branding-project-demo-container .branding-project--phonics__box-2 {
          width: 100%; } }
      .branding-project-demo-container .branding-project--phonics__box-2 div {
        -webkit-box-flex: 0;
        -webkit-flex: 0 1 auto;
            -ms-flex: 0 1 auto;
                flex: 0 1 auto;
        width: 50%; }
      .branding-project-demo-container .branding-project--phonics__box-2__1 {
        padding: 0 10px 0 0; }
      .branding-project-demo-container .branding-project--phonics__box-2__2 {
        padding: 0 0 0 10px; }
      .branding-project-demo-container .branding-project--phonics__box-2__3 {
        padding: 10px 10px 0 0; }
      .branding-project-demo-container .branding-project--phonics__box-2__4 {
        padding: 10px 0 0 10px; }
    .branding-project-demo-container .branding-project--phonics__box-3 {
      float: right; }
