html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

em {
  font-style: italic; }

strong {
  font-weight: bolder; }

a {
  color: inherit;
  text-decoration: none; }

@font-face {
  font-family: 'Aleo';
  font-style: normal;
  font-weight: 300;
  src: local("Aleo-Light"), local("Aleo Light"), url("../fonts/aleo/Aleo-Light.eot"), url("../fonts/aleo/Aleo-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/aleo/Aleo-Light.woff") format("woff"), url("../fonts/aleo/Aleo-Light.ttf") format("truetype"), url("../fonts/aleo/Aleo-Light.svg") format("svg"); }
@font-face {
  font-family: 'Aleo';
  font-style: normal;
  font-weight: 400;
  src: local("Aleo-regular"), local("Aleo Regular"), url("../fonts/aleo/Aleo-Regular.eot"), url("../fonts/aleo/Aleo-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/aleo/Aleo-Regular.woff") format("woff"), url("../fonts/aleo/Aleo-Regular.ttf") format("truetype"), url("../fonts/aleo/Aleo-Regular.svg") format("svg"); }
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot");
  src: url("../fonts/icomoon/icomoon.eot?#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.woff") format("woff"), url("../fonts/icomoon/icomoon.ttf") format("truetype"), url("../fonts/icomoon/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #666; }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    body {
      font-weight: 300; } }

.section__heading {
  font-family: "Aleo", "Helvetica Neue", "Roboto", Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 300;
  line-height: 1;
  margin-bottom: 0.5em;
  color: #000; }

html, body, .full-height {
  height: 100%; }

html {
  background: #f1f1f2;
  position: relative; }

.full-height {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  height: calc(100% - 120px); }
  @media (max-width: 600px), (max-height: 700px) {
    .full-height {
      height: calc(100% - 80px); } }

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px; }
  .container.hidden {
    opacity: 0;
    -webkit-transform: translate(0, 100px);
        -ms-transform: translate(0, 100px);
            transform: translate(0, 100px); }
  .container.hideOut {
    -webkit-transform: translate(0, 50px);
        -ms-transform: translate(0, 50px);
            transform: translate(0, 50px);
    opacity: 0; }

.section:not(.section--intro) .container {
  padding-top: 60px;
  padding-bottom: 60px;
  border-bottom: 1px solid #666; }
  .touch .section:not(.section--intro) .container {
    padding-top: 40px;
    padding-bottom: 40px; }

.site-header {
  width: 100%;
  z-index: 2;
  -webkit-transition: opacity 0.5s;
          transition: opacity 0.5s;
  background: #fff;
  height: 120px; }
  @media (max-width: 600px), (max-height: 700px) {
    .site-header {
      height: 80px; } }
  .site-header .container {
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center; }
    .site-header .container:after {
      content: "";
      display: table;
      clear: both; }
    @media (max-width: 600px), (max-height: 700px) {
      .site-header .container {
        padding-top: 10px;
        padding-bottom: 10px; } }
  .site-header .site-logo {
    font-family: "Aleo", "Helvetica Neue", "Roboto", Helvetica, sans-serif;
    color: #000;
    font-size: 1.5rem;
    margin-top: 0.2em;
    margin-bottom: 1em;
    font-weight: 400;
    letter-spacing: 0.025em;
    border: 1px solid #000;
    display: inline-block;
    line-height: 1;
    padding: 0.35em 0.5em; }
    @media (max-width: 600px), (max-height: 700px) {
      .site-header .site-logo {
        font-size: 1rem;
        margin-top: 0.6em; } }
  .site-header .site-header__nav {
    font-size: 0.8rem;
    font-family: "Aleo", "Helvetica Neue", "Roboto", Helvetica, sans-serif;
    letter-spacing: 0.05em;
    color: #666;
    line-height: 1; }
    .site-header .site-header__nav:after {
      content: "";
      display: table;
      clear: both; }
    .site-header .site-header__nav ul:after {
      content: "";
      display: table;
      clear: both; }
    .site-header .site-header__nav li {
      display: inline-block;
      padding-left: 1.5em;
      margin-left: 1.5em;
      margin-right: 1.5em; }
      @media (max-width: 600px), (max-height: 700px) {
        .site-header .site-header__nav li {
          padding-left: 1em;
          margin-left: 0.5em;
          margin-right: 0.5em; }
          .site-header .site-header__nav li:first-child {
            margin-left: 0; }
          .site-header .site-header__nav li:last-child {
            margin-right: 0; } }
      @media (max-width: 400px) {
        .site-header .site-header__nav li {
          padding-left: 0; } }
    .site-header .site-header__nav a {
      display: block;
      padding: 0 0.5em;
      cursor: pointer;
      font-weight: 300;
      -webkit-transition: all 0.3s;
              transition: all 0.3s;
      position: relative; }
      @media (max-width: 400px) {
        .site-header .site-header__nav a {
          color: #ff9934; } }
      .site-header .site-header__nav a:before {
        position: absolute;
        display: block;
        content: "";
        width: 0.7em;
        height: 0.7em;
        box-shadow: inset 0 0 0 2px #ff9934;
        border-radius: 50%;
        top: 0.15em;
        left: -0.75em;
        -webkit-transition: all .5s;
                transition: all .5s; }
        @media (max-width: 400px) {
          .site-header .site-header__nav a:before {
            content: none; } }
      .site-header .site-header__nav a:hover:before {
        background-color: #ff9934; }

.content-viewer {
  position: absolute;
  z-index: 2;
  top: 120px;
  height: calc(100% - 120px);
  right: 0;
  bottom: 0;
  left: 0;
  background: #f1f1f2;
  opacity: 1;
  -webkit-transition: opacity 0.35s;
          transition: opacity 0.35s;
  overflow: auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media (max-width: 600px), (max-height: 700px) {
    .content-viewer {
      top: 0;
      height: 100%; } }
  .content-viewer .ajax-me {
    height: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  @media (max-width: 600px), (max-height: 700px) {
    .content-viewer .container {
      padding: 0; } }
  .content-viewer__header {
    height: 50px;
    background: #fff;
    z-index: 1;
    width: 100%;
    -webkit-transition: all 0.35s;
            transition: all 0.35s;
    opacity: 1;
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto; }
  .content-viewer__heading {
    font-size: 28px;
    font-family: "Aleo", "Helvetica Neue", "Roboto", Helvetica, sans-serif;
    font-weight: 300;
    line-height: 50px;
    color: #666;
    -webkit-transition: color 0.3s;
            transition: color 0.3s;
    float: left;
    margin-left: .5em; }
    @media (max-width: 600px), (max-height: 700px) {
      .content-viewer__heading {
        font-size: 20px; } }
    @media (max-width: 550px) {
      .content-viewer__heading {
        font-size: 18px; } }
  .content-viewer__close {
    float: left;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    -webkit-transition: background 0.35s, -webkit-transform 0.25s 0.2s;
            transition: background 0.35s, transform 0.25s 0.2s;
    position: relative;
    background-color: #f1f1f2; }
    .content-viewer__close:before, .content-viewer__close:after {
      position: absolute;
      display: block;
      content: "";
      width: 30px;
      height: 1px;
      background: #666;
      top: 24px;
      left: 10px;
      -webkit-transition: all 0.2s;
              transition: all 0.2s; }
    .content-viewer__close:before {
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg); }
    .content-viewer__close:after {
      -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
              transform: rotate(-45deg); }
    .content-viewer__close:hover {
      background-color: rgba(0, 0, 0, 0.7); }
      .content-viewer__close:hover:before, .content-viewer__close:hover:after {
        background-color: #FFF; }
  .content-viewer__container {
    height: calc( 100% - 130px);
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-transition: all 0.5s 0.2s;
            transition: all 0.5s 0.2s;
    padding-top: 40px;
    padding-bottom: 40px;
    -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto; }
    @media (max-width: 600px), (max-height: 700px) {
      .content-viewer__container {
        padding-top: 20px;
        padding-bottom: 20px; } }
  .content-viewer__controls {
    float: right; }
    .content-viewer__controls__control {
      -webkit-tap-highlight-color: transparent;
      -webkit-tap-highlight-color: transparent;
      height: 50px;
      min-width: 50px;
      line-height: 50px;
      font-size: 0.8rem;
      font-weight: 300;
      font-family: "Aleo", "Helvetica Neue", "Roboto", Helvetica, sans-serif;
      letter-spacing: 0.05em;
      background-color: #fff;
      display: block;
      float: left;
      color: #666;
      padding: 0 1em;
      background-repeat: no-repeat;
      -webkit-transition: opacity 0.35s;
              transition: opacity 0.35s;
      text-align: center;
      cursor: pointer;
      position: relative;
      -webkit-transition: all 0.35s;
              transition: all 0.35s; }
      @media (max-width: 550px) {
        .content-viewer__controls__control {
          font-size: 0px; } }
      .content-viewer__controls__control:before, .content-viewer__controls__control:after {
        position: absolute;
        display: block;
        content: "";
        width: 15px;
        height: 1px;
        background: #666;
        -webkit-transition: all 0.2s;
                transition: all 0.2s; }
      .content-viewer__controls__control:before {
        bottom: 19px; }
      .content-viewer__controls__control:after {
        top: 19px; }
      .content-viewer__controls__control:hover {
        background-color: #f1f1f2; }
      .content-viewer__controls__control--prev {
        padding-left: 33.33333px; }
        .content-viewer__controls__control--prev:before {
          -webkit-transform: rotate(45deg);
              -ms-transform: rotate(45deg);
                  transform: rotate(45deg);
          left: 10px; }
          @media (max-width: 550px) {
            .content-viewer__controls__control--prev:before {
              left: 15px; } }
        .content-viewer__controls__control--prev:after {
          -webkit-transform: rotate(-45deg);
              -ms-transform: rotate(-45deg);
                  transform: rotate(-45deg);
          left: 10px; }
          @media (max-width: 550px) {
            .content-viewer__controls__control--prev:after {
              left: 15px; } }
      .content-viewer__controls__control--next {
        padding-right: 33.33333px; }
        .content-viewer__controls__control--next:before {
          -webkit-transform: rotate(-45deg);
              -ms-transform: rotate(-45deg);
                  transform: rotate(-45deg);
          right: 10px; }
          @media (max-width: 550px) {
            .content-viewer__controls__control--next:before {
              right: 15px; } }
        .content-viewer__controls__control--next:after {
          -webkit-transform: rotate(45deg);
              -ms-transform: rotate(45deg);
                  transform: rotate(45deg);
          right: 10px; }
          @media (max-width: 550px) {
            .content-viewer__controls__control--next:after {
              right: 15px; } }
      .content-viewer__controls__control--inactive {
        display: none; }
  .content-viewer--empty {
    opacity: 0;
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0); }
    .content-viewer--empty .content-viewer__header {
      opacity: 0;
      -webkit-transform: translate(0, -100%);
          -ms-transform: translate(0, -100%);
              transform: translate(0, -100%); }
    .content-viewer--empty .content-viewer__container {
      -webkit-transform: translate(0, 200px);
          -ms-transform: translate(0, 200px);
              transform: translate(0, 200px);
      opacity: 0; }
    .content-viewer--empty .content-viewer__close {
      -webkit-transform: scale(0);
          -ms-transform: scale(0);
              transform: scale(0); }
  .content-viewer--slide-down {
    -webkit-transition: all 0.5s;
            transition: all 0.5s;
    background-color: rgba(253, 250, 243, 0);
    opacity: 0; }
    .content-viewer--slide-down .content-viewer__header {
      opacity: 0;
      -webkit-transform: translate(0, -100%);
          -ms-transform: translate(0, -100%);
              transform: translate(0, -100%); }
    .content-viewer--slide-down .content-viewer__container {
      -webkit-transition: all 0.5s;
              transition: all 0.5s;
      opacity: 0; }
    .content-viewer--slide-down .content-viewer__close {
      -webkit-transform: scale(0);
          -ms-transform: scale(0);
              transform: scale(0); }
    .content-viewer--slide-down .content-viewer__controls {
      -webkit-transition: all 0.35s;
              transition: all 0.35s;
      opacity: 0; }
  .content-viewer--slideOut-next, .content-viewer--slideOut-back, .content-viewer--slideIn-next, .content-viewer--slideIn-back {
    overflow: hidden; }
    .content-viewer--slideOut-next .content-viewer__container, .content-viewer--slideOut-back .content-viewer__container, .content-viewer--slideIn-next .content-viewer__container, .content-viewer--slideIn-back .content-viewer__container {
      -webkit-transition: all 0.4s;
              transition: all 0.4s;
      opacity: 0; }
    .content-viewer--slideOut-next .content-viewer__heading, .content-viewer--slideOut-back .content-viewer__heading, .content-viewer--slideIn-next .content-viewer__heading, .content-viewer--slideIn-back .content-viewer__heading {
      color: rgba(102, 102, 102, 0); }
  .content-viewer--slideOut-back .content-viewer__container, .content-viewer--slideIn-next .content-viewer__container {
    -webkit-transform: translate(100px, 0);
        -ms-transform: translate(100px, 0);
            transform: translate(100px, 0); }
  .content-viewer--slideIn-back .content-viewer__container, .content-viewer--slideOut-next .content-viewer__container {
    -webkit-transform: translate(-100px, 0);
        -ms-transform: translate(-100px, 0);
            transform: translate(-100px, 0); }

.section--branding__grid {
  overflow: hidden;
  list-style: none;
  text-align: center;
  margin: 0 -10px; }

/* Common style */
.section--branding__grid-item-sizer {
  height: 0;
  padding-bottom: 100%; }

.section--branding__grid-item {
  position: relative;
  margin: 10px;
  z-index: 1;
  float: left;
  overflow: hidden;
  width: calc(25% - ( 10px * 2) );
  text-align: center;
  cursor: pointer; }
  @media (max-width: 700px) {
    .section--branding__grid-item {
      width: calc(33.3% - ( 10px * 2) ); } }
  @media (max-width: 550px) {
    .section--branding__grid-item {
      width: calc(50% - ( 10px * 2) ); } }
  @media (max-width: 350px) {
    .section--branding__grid-item {
      width: calc(100% - ( 10px * 2) ); } }

.section--branding__grid-item__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  width: 100%;
  -webkit-transition: -webkit-transform 0.5s;
          transition: transform 0.5s;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1); }

.section--branding__grid-item__text {
  font-family: "Aleo", "Helvetica Neue", "Roboto", Helvetica, sans-serif;
  color: #fff;
  font-weight: 300;
  -webkit-font-smoothing: antialiased; }
  .section--branding__grid-item__text::before {
    position: absolute;
    content: "";
    display: block;
    width: 200%;
    height: 200%;
    border-radius: 50%;
    left: -50%;
    top: -50%;
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
    -webkit-transition: all 0.25s;
            transition: all 0.25s;
    background-color: rgba(51, 51, 51, 0.5); }

.section--branding__grid-item__text,
.section--branding__grid-item__a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.section--branding__grid-item__a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0; }

.section--branding__grid-item__head {
  font-weight: 300;
  height: 100%;
  border-radius: 50%;
  padding: 20px;
  opacity: 0;
  color: #fff;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.35s;
          transition: all 0.35s;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.section--branding__grid-item__head,
.section--branding__grid-item__p {
  margin: 0; }

.section--branding__grid-item__p {
  letter-spacing: 1px;
  font-size: 68.5%;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
          transition: opacity 0.35s, transform 0.35s;
  margin: 0 auto;
  max-width: 200px;
  -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
          transform: scale(1.5); }

.section--branding__grid-item:hover .section--branding__grid-item__head {
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1); }

.section--branding__grid-item:hover .section--branding__grid-item__p {
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1); }

.section--branding__grid-item:hover .section--branding__grid-item__img {
  opacity: 1;
  -webkit-transform: scale(1.4);
      -ms-transform: scale(1.4);
          transform: scale(1.4); }

.section--branding__grid-item:hover .section--branding__grid-item__text:before {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  background-color: #333333; }

.img-flex {
  display: block;
  width: 100%; }

.shadow-effect {
  border-style: solid;
  border-width: 0px 0px 10px;
  -webkit-border-image: url(../img/chrome/ellipse-shadow.png) 0 0 40 stretch;
       -o-border-image: url(../img/chrome/ellipse-shadow.png) 0 0 40 stretch;
          border-image: url(../img/chrome/ellipse-shadow.png) 0 0 40 stretch;
  margin-bottom: -10px; }
  .shadow-effect.double-shadow {
    -webkit-border-image: url(../img/chrome/ellipse-shadow-2.png) 0 0 40 stretch;
         -o-border-image: url(../img/chrome/ellipse-shadow-2.png) 0 0 40 stretch;
            border-image: url(../img/chrome/ellipse-shadow-2.png) 0 0 40 stretch; }

.shadow-effect img {
  box-shadow: 0px 8px 12px 2px rgba(0, 0, 0, 0.2); }

.branding-project-demo-container {
  height: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px; }

.branding-project__row {
  margin-bottom: 40px; }
  .branding-project__row:after {
    content: "";
    display: table;
    clear: both; }
  .branding-project__row:last-child {
    margin-bottom: 10px; }

.branding-project__box--50x1 {
  width: calc(50% - 20px); }
  .branding-project__box--50x1:after {
    content: "";
    display: table;
    clear: both; }
  .branding-project__box--50x1:nth-child(2) {
    margin-left: 40px; }

.branding-project__box--20x1 {
  width: calc(20% - 16px); }
  .branding-project__box--20x1:after {
    content: "";
    display: table;
    clear: both; }
  .branding-project__box--20x1:nth-child(n+2) {
    margin-left: 20px; }
  @media (max-width: 600px) {
    .branding-project__box--20x1 {
      width: 100%; } }

.branding-project__box--25x1 {
  width: calc(25% - 16px); }
  .branding-project__box--25x1:after {
    content: "";
    display: table;
    clear: both; }
  .branding-project__box--25x1:nth-child(n+2) {
    margin-left: 20px; }
  @media (max-width: 600px) {
    .branding-project__box--25x1 {
      width: 100%; } }

.branding-project__box--25x1-to-50x2 {
  width: calc(25% - 15px); }
  .branding-project__box--25x1-to-50x2:after {
    content: "";
    display: table;
    clear: both; }
  .branding-project__box--25x1-to-50x2:nth-child(n+2) {
    margin-left: 20px; }
  @media (max-width: 600px) {
    .branding-project__box--25x1-to-50x2 {
      width: calc(50% - 20px); }
      .branding-project__box--25x1-to-50x2:nth-child(2n) {
        margin-left: 20px; }
      .branding-project__box--25x1-to-50x2:nth-child(n+3) {
        margin-top: 20px; }
      .branding-project__box--25x1-to-50x2:nth-child(3) {
        margin-left: 0; } }

.branding-project__box--33x1 {
  width: calc(33.33% - 20px); }

.branding-project__box--3rds {
  width: calc(33.33% - 27px); }

.branding-project__box--35x1 {
  width: calc(35% - 20px); }

.branding-project__box--40x1 {
  width: calc(40% - 20px); }

.branding-project__box--45x1 {
  width: calc(45% - 20px); }

.branding-project__box--55x1 {
  width: calc(55% - 20px); }

.branding-project__box--60x1 {
  width: calc(60% - 20px); }

.branding-project__box--65x1 {
  width: calc(65% - 20px); }

.branding-project__box--66x1 {
  width: calc(66.66% - 20px); }

.branding-project__box__sub-33x2 {
  width: calc(33% - 13px);
  float: left; }
  .branding-project__box__sub-33x2:nth-child(3n-1), .branding-project__box__sub-33x2:nth-child(3n) {
    margin-left: 20px; }
  .branding-project__box__sub-33x2:nth-child(n+4) {
    margin-top: 20px; }
  @media (max-width: 600px) {
    .branding-project__box__sub-33x2 {
      width: calc(50% - 10px); }
      .branding-project__box__sub-33x2:nth-child(3n-1), .branding-project__box__sub-33x2:nth-child(3n) {
        margin-left: 0; }
      .branding-project__box__sub-33x2:nth-child(2n) {
        margin-left: 20px; }
      .branding-project__box__sub-33x2:nth-child(n+3) {
        margin-top: 20px; } }

.branding-project__box__sub-50x2 {
  width: calc(50% - 10px);
  float: left; }
  .branding-project__box__sub-50x2:nth-child(2n) {
    margin-left: 20px; }
  .branding-project__box__sub-50x2:nth-child(n+3) {
    margin-top: 20px; }

.branding-project__box__sub-sub-50x2 {
  width: calc(50% - 5px);
  float: left; }
  .branding-project__box__sub-sub-50x2:nth-child(2n) {
    margin-left: 10px; }
  .branding-project__box__sub-sub-50x2:nth-child(n+3) {
    margin-top: 10px; }

.branding-project__box__sub-50x1 {
  width: calc(50% - 10px);
  float: left; }
  .branding-project__box__sub-50x1:nth-child(2n) {
    margin-left: 20px; }

.branding-project__box__sub-100x3 {
  width: 100%;
  float: none; }
  .branding-project__box__sub-100x3:nth-child(n+2) {
    margin-top: 20px; }

.branding-project__box__sub-100x2 {
  width: 100%;
  float: none; }
  .branding-project__box__sub-100x2:nth-child(n+2) {
    margin-top: 20px; }
  @media (max-width: 600px) {
    .branding-project__box__sub-100x2 {
      width: calc(50% - 10px);
      float: left; }
      .branding-project__box__sub-100x2:nth-child(n+2) {
        margin-top: 0;
        margin-left: 20px; } }

.branding-project__box__sub-33x1-overlap {
  width: 50%;
  float: right; }
  .branding-project__box__sub-33x1-overlap:nth-child(n+2) {
    margin-right: -25%; }

.branding-project__box-float-right {
  float: right; }
  @media (max-width: 600px) {
    .branding-project__box-float-right {
      float: none;
      width: 100%; }
      .branding-project__box-float-right:nth-child(n+2) {
        margin-left: 0;
        margin-right: 0;
        margin-top: 40px; } }

.branding-project__box-float-left {
  float: left; }
  @media (max-width: 600px) {
    .branding-project__box-float-left {
      float: none;
      width: 100%; }
      .branding-project__box-float-left:nth-child(n+2) {
        margin-left: 0;
        margin-right: 0;
        margin-top: 40px; } }

.branding-project__box-float-left-small {
  float: left; }

.branding-project__box--center {
  max-width: 560px;
  margin: 0 auto; }

.videoWrapper {
  position: relative;
  padding-bottom: 35.5%;
  height: 0;
  -moz-box-sizing: content-box;
       box-sizing: content-box; }
  @media (max-width: 600px) {
    .videoWrapper {
      padding-bottom: 75.5%; } }

.flex-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.extra-margin-top {
  margin-top: 30px; }

.ml40 {
  margin-left: 40px; }

.cv {
  font-size: 15px;
  line-height: 1.5;
  padding-top: 20px;
  padding-bottom: 20px; }
  @media (min-width: 700px) {
    .cv {
      padding-top: 30px;
      padding-bottom: 60px; } }
  .cv__header:after {
    content: "";
    display: table;
    clear: both; }
  .cv .vcard {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media (max-width: 700px) {
      .cv .vcard {
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center; } }
    @media (max-width: 520px) {
      .cv .vcard {
        -webkit-justify-content: flex-start;
            -ms-flex-pack: start;
                justify-content: flex-start; } }
    .cv .vcard .contact-method {
      padding-left: 36px;
      padding-right: 0px;
      min-height: 40px;
      position: relative;
      line-height: 40px;
      font-size: 14px; }
      @media (max-width: 700px) {
        .cv .vcard .contact-method {
          margin: 0 15px; } }
      .cv .vcard .contact-method:before {
        font-family: 'icomoon';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        line-height: 30px;
        text-align: center;
        color: #fff;
        position: absolute;
        display: block;
        content: "";
        top: calc(50% - 15px);
        left: 0;
        width: 30px;
        height: 30px;
        background: #FFF;
        border-radius: 50%;
        background-color: #aaa; }
    .cv .vcard .contact-tel:before {
      content: "\e600"; }
    .cv .vcard .contact-email:before {
      content: "\e601"; }
    .cv .vcard .contact-address:before {
      content: "\e602"; }
  .cv__section:after, .cv__super-section:after {
    content: "";
    display: table;
    clear: both; }
  @media (min-width: 700px) {
    .cv__heading {
      float: left;
      width: 180px; } }
  @media (min-width: 700px) {
    .cv__p, .cv__ul, .cv__role-heading, .cv__role-specifiers, .cv__role-overview, .cv__role-points {
      float: right;
      width: calc(100% - 180px); } }
  @media (min-width: 700px) {
    .cv__section--education, .cv__section--awards {
      float: right;
      width: calc(100% - 180px); } }
  .cv__title {
    display: none; }
  .cv__heading {
    color: #ff9934;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.2; }
    @media (min-width: 700px) {
      .cv__heading {
        font-size: 0.85em;
        padding-top: 0.5em;
        padding-right: 4em;
        text-align: right; } }
    @media (max-width: 700px) {
      .cv__heading {
        margin-bottom: 0.2em; } }
  .cv__floating-bullet {
    font-weight: 700;
    color: rgba(102, 102, 102, 0.6);
    margin-right: 0.2em;
    margin-left: 0.2em; }
  .cv__role-heading {
    text-transform: uppercase;
    font-weight: 700; }
    @media (min-width: 700px) {
      .cv__role-heading {
        font-size: 0.85em;
        padding-top: 0.5em;
        line-height: 1.2; } }
    @media (max-width: 700px) {
      .cv__role-heading {
        line-height: 1.2; } }
  .cv__role-specifiers {
    font-weight: 300; }
    @media (min-width: 700px) {
      .cv__role-specifiers {
        font-size: 0.85em; } }
  .cv__role-points {
    padding-left: 20px; }
    @media (min-width: 700px) {
      .cv__role-points {
        padding-left: 0; } }
    .cv__role-points li {
      position: relative;
      margin-bottom: 0.4em; }
      .cv__role-points li:last-child {
        margin-bottom: 0; }
      .cv__role-points li::before {
        position: absolute;
        display: block;
        content: "";
        left: -1.2em;
        top: 10px;
        height: 6px;
        width: 6px;
        border-radius: 50%;
        background: #999999; }
  .cv__super-section--other {
    color: #333333; }
  .cv__heading--inline {
    color: #ff9934;
    display: inline;
    font-weight: 700; }
  .cv__header {
    padding-bottom: 1.5em; }
  .cv__section {
    padding-top: 1.25em;
    padding-bottom: 1.25em; }
  .cv__role-specifiers {
    margin-bottom: 1em; }
  .cv__role-overview ~ .cv__role-points {
    margin-top: 0.75em; }
    @media (min-width: 700px) {
      .cv__role-overview ~ .cv__role-points {
        margin-top: 1.25em; } }
  .cv__super-section--other .cv__section {
    padding-bottom: 0; }
  .cv__header, .cv__super-section--about, .cv__super-section--experience {
    border-bottom: 1px solid rgba(102, 102, 102, 0.2); }

.about-me {
  font-family: "Aleo", "Helvetica Neue", "Roboto", Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  padding-top: 20px;
  padding-bottom: 20px; }
  .about-me:after {
    content: "";
    display: table;
    clear: both; }
  @media (min-width: 670px) {
    .about-me {
      padding-top: 30px;
      padding-bottom: 60px; } }
  @media (max-width: 670px) {
    .about-me {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; } }
  .about-me .big-p {
    font-size: 1.5em;
    font-weight: 300;
    line-height: 1;
    position: relative; }
  .about-me .line-above {
    margin: .75em 0 0;
    font-family: "Open Sans", sans-serif;
    font-size: 15px; }
  .about-me .space-above {
    margin: 1em 0 0;
    font-family: "Open Sans", sans-serif;
    font-size: 15px; }
  .about-me .about-image {
    float: left;
    width: 300px; }
    @media (max-width: 800px) {
      .about-me .about-image {
        width: 200px; } }
    @media (max-width: 670px) {
      .about-me .about-image {
        float: none;
        width: 100%;
        margin: 20px auto 0;
        height: 0;
        overflow: hidden;
        padding-bottom: 126%;
        -webkit-order: 2;
            -ms-flex-order: 2;
                order: 2; } }
    .about-me .about-image img {
      display: block;
      width: 100%; }
  .about-me .about-text {
    float: right;
    width: calc(100% - 340px); }
    @media (max-width: 800px) {
      .about-me .about-text {
        width: calc(100% - 240px); } }
    @media (max-width: 670px) {
      .about-me .about-text {
        width: 100%;
        float: none; } }
  .about-me .about-me__contact {
    border-top: 1px solid #ddd;
    margin: 1.5em 0 0;
    padding: 1.5em 0 0;
    float: right;
    width: calc(100% - 340px); }
    @media (max-width: 800px) {
      .about-me .about-me__contact {
        width: calc(100% - 240px); } }
    @media (max-width: 670px) {
      .about-me .about-me__contact {
        width: 100%;
        float: none; } }
    .about-me .about-me__contact a {
      border-bottom: 1px solid #ddd;
      -webkit-transition: all 0.25s;
              transition: all 0.25s; }
      .about-me .about-me__contact a:hover {
        color: #ff9934;
        border-bottom: 1px solid rgba(255, 153, 52, 0.5); }
  .about-me .about-me__title {
    display: none; }
  .about-me .contact-method {
    padding-left: 36px;
    padding-right: 30px;
    min-height: 40px;
    position: relative; }
    .about-me .contact-method:before {
      font-family: 'icomoon';
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      line-height: 30px;
      text-align: center;
      color: #fff;
      position: absolute;
      display: block;
      content: "";
      top: 0;
      left: 0;
      width: 30px;
      height: 30px;
      background: #FFF;
      border-radius: 50%;
      background-color: #aaa; }
  .about-me .experience-in-title {
    display: inline-block;
    margin-bottom: 0.5em; }
  .about-me .experience-in {
    display: inline-block;
    padding: 0.5em;
    background: rgba(0, 0, 0, 0.05);
    margin-bottom: 3px; }
  .about-me .contact-tel:before {
    content: "\e600"; }
  .about-me .contact-email:before {
    content: "\e601"; }
  .about-me .contact-address:before {
    content: "\e602"; }
  .about-me .contact-linkedin:before {
    content: "\e603"; }
