@import "base/_reset";
@import "base/_helpers";

@import "ui/_units";
@import "ui/_colors";
// @import "ui/_fontface";

@import "ui/_typography";
 


html, body, .full-height{
  height: 100%;  min-height: 100%;
}
html{
  background: $c-bg;
  position: relative;
}

body{
  overflow: auto;
}
.container{
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 $pad*2;
  @media (max-width: 600px){
    padding: 0 $pad;
  }
}
.section{
  padding: $pad*7 0;
}


@import "ui/_header";
@import "ui/_intro";
@import "ui/_viewer";



//custom pages

@import "temp/_grid";


@import "temp/_branding-project-demo";
