@import "base/_reset";
@import "base/_helpers";

@import "ui/_units";
@import "ui/_colors";
// @import "ui/_fontface";

@import "ui/_typography";
 


html, body, .full-height{
  height: 100%;  min-height: 100%;
}
html{
  background: $c-bg;
  position: relative;
}

body{
  overflow: auto;
}
.full-height{
  overflow: auto;
}
.container{
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 $pad*2;
  @media (max-width: 600px){
    padding: 0 $pad;
  }
}
.section:not(.section--intro) .container{
  padding-top: $pad*7;
  padding-bottom: $pad*7;
  @at-root .touch &{
    padding-top: $pad*2;
    padding-bottom: $pad*2;
  }
  border-bottom: 1px solid $c-accent-1;
}


@import "ui/_header";
@import "ui/_intro";
@import "ui/_viewer";



//custom pages

@import "temp/_grid";


@import "temp/_branding-project-demo";
