.img-flex{
  display: block;
  width: 100%;
}
.shadow-effect{
  border-style: solid;
  border-width: 0px 0px 10px;
  border-image: url(../img/chrome/ellipse-shadow.png) 0 0 40 stretch;
  margin-bottom: -10px;
  &.double-shadow{
    border-image: url(../img/chrome/ellipse-shadow-2.png) 0 0 40 stretch;
  }
}
.shadow-effect img{
     box-shadow: 0px 8px 12px 2px rgba(0,0,0,0.2);
 
}


.branding-project-demo-container{
  height: 100%;
  max-width: $max-width;
  margin: 0 auto;
  padding-left: $pad;
  padding-right: $pad;
}
.branding-project__row{
  @include clearfix;
  margin-bottom: 40px;
  &:last-child{
    margin-bottom: 10px;
  }
}
.branding-project__box--50x1{
  @include clearfix;
  width: calc(50% - 20px);
  &:nth-child(2){
    margin-left: 40px;
  }
}

.branding-project__box--20x1{
  @include clearfix;
  width: calc(20% - 16px);
  &:nth-child(n+2){
    margin-left: 20px;
  }
  @media (max-width: 600px){
    width: 100%;
  }
}

.branding-project__box--25x1{
  @include clearfix;
  width: calc(25% - 16px);
  &:nth-child(n+2){
    margin-left: 20px;
  }
  @media (max-width: 600px){
    width: 100%;
  }
}

.branding-project__box--25x1-to-50x2{
  @include clearfix;
  width: calc(25% - 15px);
  &:nth-child(n+2){
    margin-left: 20px;
  }
  @media (max-width: 600px){
    width: calc(50% - 20px);
    &:nth-child(2n){
      margin-left: 20px;
    }
    &:nth-child(n+3){
      margin-top: 20px;
    }
    &:nth-child(3){
      margin-left: 0;
    }
  }
}

.branding-project__box--33x1{
  width: calc(33.33% - 20px);
}

.branding-project__box--3rds{
  width: calc(33.33% - 27px);
}

.branding-project__box--35x1{
  width: calc(35% - 20px);
}
.branding-project__box--40x1{
  width: calc(40% - 20px);
}
.branding-project__box--45x1{
  width: calc(45% - 20px);
}
.branding-project__box--55x1{
  width: calc(55% - 20px);
}

.branding-project__box--60x1{
  width: calc(60% - 20px);
}
.branding-project__box--65x1{
  width: calc(65% - 20px);
}
.branding-project__box--66x1{
  width: calc(66.66% - 20px);
}


.branding-project__box__sub-33x2{
  width: calc(33% - 13px);
  float: left;
  &:nth-child(3n-1),
  &:nth-child(3n){
    margin-left: 20px;
  }
  &:nth-child(n+4){
    margin-top: 20px;
  }
  @media (max-width: 600px){
    width: calc(50% - 10px);
    &:nth-child(3n-1),
    &:nth-child(3n){
      margin-left: 0;
    }
    &:nth-child(2n){
      margin-left: 20px;
    }
    &:nth-child(n+3){
      margin-top: 20px;
    }

  }
}
.branding-project__box__sub-50x2{
  width: calc(50% - 10px);
  float: left;
  &:nth-child(2n){
    margin-left: 20px;
  }
  &:nth-child(n+3){
    margin-top: 20px;
  }
}
.branding-project__box__sub-sub-50x2{
  width: calc(50% - 5px);
  float: left;
  &:nth-child(2n){
    margin-left: 10px;
  }
  &:nth-child(n+3){
    margin-top: 10px;
  }
}

.branding-project__box__sub-50x1{
  width: calc(50% - 10px);
  float: left;
  &:nth-child(2n){
    margin-left: 20px;
  }
}

.branding-project__box__sub-100x3{
  width: 100%;
  float: none;
  &:nth-child(n+2){
    margin-top: 20px;
  }
}

.branding-project__box__sub-100x2{
  width: 100%;
  float: none;
  &:nth-child(n+2){
    margin-top: 20px;
  }
  @media (max-width: 600px){
    width: calc(50% - 10px);
    float: left;
    &:nth-child(n+2){
      margin-top: 0;
      margin-left: 20px;
    }
  }
}


.branding-project__box__sub-33x1-overlap{
  width: 50%;
  float: right;
  &:nth-child(n+2){
    margin-right: -25%;
  }

}

.branding-project__box-float-right{
  float: right;
  @media (max-width: 600px){
    float: none;
    width: 100%;
    &:nth-child(n+2){
      margin-left: 0;
      margin-right: 0;
      margin-top: 40px;
    }
  }
}
.branding-project__box-float-left{
  float: left;
  @media (max-width: 600px){
    float: none;
    width: 100%;
    &:nth-child(n+2){
      margin-left: 0;
      margin-right: 0;
      margin-top: 40px;
    }
  }
}

.branding-project__box-float-left-small{
  float: left;
}

.branding-project__box--center{
  max-width: 560px;
  margin: 0 auto;
}

.videoWrapper{
  position: relative;
  padding-bottom: 35.5%;
  @media (max-width: 600px){
    padding-bottom: 75.5%;
  }
  height: 0;
  box-sizing:content-box;
}
.flex-video{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.extra-margin-top{
  margin-top: 30px;
}
.ml40{
  margin-left: 40px;
}