
.section--branding__grid {
  overflow: hidden;
  list-style: none;
  text-align: center;
  margin: 0 -10px;
}


/* Common style */
.section--branding__grid-item-sizer{
   height: 0;
   padding-bottom: 100%;

}
$branding-grid-gap: 10px;
.section--branding__grid-item {
  position: relative;
  margin: $branding-grid-gap;
  z-index: 1;
  float: left;
  overflow: hidden;
  width: calc(25% - ( #{$branding-grid-gap} * 2) );
  @media (max-width: 700px){
    width: calc(33.3% - ( #{$branding-grid-gap} * 2) );
  }
  @media (max-width: 550px){
    width: calc(50% - ( #{$branding-grid-gap} * 2) );
  }
  @media (max-width: 350px){
    width: calc(100% - ( #{$branding-grid-gap} * 2) );
  }
  text-align: center;
  cursor: pointer;
  // &--aef{
  //   .section--branding__grid-item__text::before{
  //     background-color: #5a219a;
  //   }
  // }
  // &--phonics{
  //   .section--branding__grid-item__text::before{
  //     background-color: #38a6e5;
  //   }
  // }
  // &--chelsea{
  //   .section--branding__grid-item__text::before{
  //     background-color: #dea142;
  //   }
  // }
  // &--528{
  //   .section--branding__grid-item__text::before{
  //     background-color: #887939;
  //   }
  // }
  // &--discover{
  //   .section--branding__grid-item__text::before{
  //     background-color: #67b650;
  //   }
  // }
  // &--eup{
  //   .section--branding__grid-item__text::before{
  //     background-color: #fec000;
  //   }
  // }
  // &--lunchbox{
  //   .section--branding__grid-item__text::before{
  //     background-color: #ef4447;
  //   }
  // }
  // &--q{
  //   .section--branding__grid-item__text::before{
  //     background-color: #67bb17;
  //   }
  // }
}

.section--branding__grid-item__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  width: 100%;
  
  transition: opacity 0.35s, transform 0.35s;
  transform: scale(1.2);  
}

.section--branding__grid-item__text {
  font-family: $serif;
  color: #fff;
  // text-transform: uppercase;
  font-weight: 300;
  @include smooth-text;
  &::before{
    position: absolute;
    content: "";
    display: block;
    width: 200%;
    height: 200%;
    border-radius:50%;
    left:-50%;
    top:-50%;
    transform:scale(0);
    transition: all 0.25s;
    // background-image: url('../img/chrome/noise-texture.png');
    background-color: #333;
  }
}



.section--branding__grid-item__text,
.section--branding__grid-item__a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.section--branding__grid-item__a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
}

.section--branding__grid-item__head {
  font-weight: 300;
  height: 100%;
  border-radius: 50%;
  padding: 20px;
  opacity: 0;
  color:#fff;
  
  transform: scale(0);
  transition: all 0.35s;
  display: flex;
  justify-content: center;
  align-items: center;
}


.section--branding__grid-item__head,
.section--branding__grid-item__p {
  margin: 0;
}

.section--branding__grid-item__p {
  letter-spacing: 1px;
  font-size: 68.5%;
  
  opacity: 0;
  transition: opacity 0.35s, transform 0.35s;
  
  margin: 0 auto;
  max-width: 200px;
  transform: scale(1.5);
}



.section--branding__grid-item:hover .section--branding__grid-item__head {
  opacity: 1;
  transform: scale(1);
}


.section--branding__grid-item:hover .section--branding__grid-item__p {
  opacity: 1;
  transform: scale(1);
}

.section--branding__grid-item:hover .section--branding__grid-item__img {
  opacity: 1;
  transform: scale(1);
}


.section--branding__grid-item:hover  .section--branding__grid-item__text:before{
  transform: scale(1);
}