.body--home{
  background: $c-bg;
  padding: 0 20px;
  .container,{
    max-width: $max-width;
    margin: 0 auto;
    // padding: $pad;
  }
  .page-header{
    // background: #FFF;
  }
  .page-heading{
    max-width: $max-width;
    margin: 0 auto;
    padding: $pad;
    text-align: center;
    span{
      display: block;
    }
    &__name{
      @include serif;
      font-size: 2em;
      line-height: 1;
      margin-bottom: 0;
      color:$c-accent-1;
    }
    &__title{
      font-size: 2em;
      text-transform: uppercase;
    }
  }

  .section{
    &__heading{
      border-bottom: 1px solid rgb(204, 204, 204);
      @include serif;
      font-size: 2em;
      padding-bottom: 1rem;
    }
  }
}