.cv{


  $cv-breakpoint: 700px;

  //mixins for specific page
  @mixin cv-break{
    @media (min-width: $cv-breakpoint){
      @content;
    }
  }
  @mixin cv-small{
    @media (max-width: $cv-breakpoint){
      @content;
    }
  }
  @mixin cv-left{
    @include cv-break{
      float: left;
      width: 180px;
    }
  }
  @mixin cv-right{
    @include cv-break{
      float: right;
      width: calc(100% - 180px);
    }
  }

  font-size: 15px;
  line-height: 1.5;
  padding-top: $pad;
  padding-bottom: $pad;
  @include cv-break{
    padding-top: $pad*1.5;
    padding-bottom: $pad*3;
  }
  //layout - structure
  &__header{
    @include clearfix;
  }

  .vcard{
    display: flex;
    justify-content: space-between;
    @include cv-small{
      flex-wrap: wrap;
      justify-content: center;
    }
    @media (max-width: 520px){
      justify-content: flex-start;
    }
    .contact-method{
      padding-left: 36px;
      padding-right: 0px;
      min-height: 40px;
      position: relative;
      line-height: 40px;
      font-size: 14px;
      @include cv-small{
        margin: 0 15px;
      }

      &:before{
        font-family: 'icomoon';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;      
        line-height: 30px;
        text-align: center;
        color: #fff;
        position: absolute;
        display: block;
        content: "";
        top: calc(50% - 15px);
        left: 0;
        width: 30px;
        height: 30px;
        background: #FFF;
        border-radius: 50%;
        background-color: #aaa;
      }
    }
    .contact-tel{
      &:before {
        content: "\e600";
      }
    }
    .contact-email{
      &:before {
        content: "\e601";
      }
    }
    .contact-address{
      &:before {
        content: "\e602";
      }
    }

  }

  &__section,
  &__super-section{
    @include clearfix;
  }

  &__heading{
    @include cv-left;
  }
  &__p,
  &__ul,
  &__role-heading,
  &__role-specifiers,
  &__role-overview,
  &__role-points{
    @include cv-right;    
  }
  &__section--education,
  &__section--awards{
    @include cv-right;    
  }

  //typography
  &__title{
    display: none;
  }
  &__heading{
    color: $c-accent-1;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.2;  
    @include cv-break{
      font-size: 0.85em;
      padding-top: 0.5em;
      padding-right: 4em;
      text-align: right;
    }
    @include cv-small{
      margin-bottom: 0.2em;
    }
  }
  &__floating-bullet{
    font-weight: 700;
    color: rgba($c-text,0.6);
    margin-right: 0.2em;
    margin-left: 0.2em;
  }
  &__role-heading{
    text-transform: uppercase;
    font-weight: 700;
    @include cv-break{
      font-size: 0.85em;
      padding-top: 0.5em;
      line-height: 1.2;  
    }
    @include cv-small{
      line-height: 1.2;  
    }
  }
  &__role-specifiers{
    font-weight: 300;  
    @include cv-break{
      font-size: 0.85em;
    }
  }
  &__role-points{
    padding-left: 20px;
    @include cv-break{
      padding-left: 0;
    }
    li{
      position: relative;
      margin-bottom: 0.4em;
      &:last-child{
        margin-bottom: 0;
      }
      &::before{
        position: absolute;
        display: block;
        content: "";
        left: -1.2em;
        top: 10px;
        height: 6px;
        width: 6px;
        border-radius: 50%;
        background: lighten($c-text,20);
      }
    }
  }
  &__super-section--other{
    color: darken($c-text,20);
  }
  &__heading--inline{
    color: $c-accent-1;
    display: inline;
    font-weight: 700;
  }

  //spacing
  &__header{
    padding-bottom: 1.5em;
  }
  &__section{
    padding-top: 1.25em;
    padding-bottom: 1.25em;
  }
  &__role-specifiers{
    margin-bottom: 1em;
  }
  &__role-overview ~ .cv__role-points{
    margin-top: 0.75em;
    @include cv-break{
      margin-top: 1.25em;
    }
  }
   &__super-section--other{
     .cv__section{
       padding-bottom: 0;
     }
   }

  //horizontal rules
  &__header,
  &__super-section--about,
  &__super-section--experience{
    border-bottom: 1px solid rgba($c-text,0.2);
  }
}