@font-face {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 300;
    src: local('Aleo-Light'), local('Aleo Light'),
         url('../fonts/aleo/Aleo-Light.eot'),
         url('../fonts/aleo/Aleo-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aleo/Aleo-Light.woff') format('woff'),
         url('../fonts/aleo/Aleo-Light.ttf') format('truetype'),
         url('../fonts/aleo/Aleo-Light.svg') format('svg');
}
 
@font-face {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    src: local('Aleo-regular'), local('Aleo Regular'),
         url('../fonts/aleo/Aleo-Regular.eot'),
         url('../fonts/aleo/Aleo-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aleo/Aleo-Regular.woff') format('woff'),
         url('../fonts/aleo/Aleo-Regular.ttf') format('truetype'),
         url('../fonts/aleo/Aleo-Regular.svg') format('svg');
}
