html, body, .full-height{
  height: 100%;
}
html{
  background: $c-bg;
  position: relative;
}

.full-height{
  overflow: auto;
  @include ios-scroll;
  height: calc(100% - #{$header});
  @include phone{
    height: calc(100% - #{$header-mobile});
  }
}
.container{
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 $pad;
}
.section:not(.section--intro) .container{
  padding-top: $pad*3;
  padding-bottom: $pad*3;
  @at-root .touch &{
    padding-top: $pad*2;
    padding-bottom: $pad*2;
  }
  border-bottom: 1px solid $c-accent-1;
}