.site-header{
  width: 100%;
  z-index: 2;
  transition: opacity 0.5s;
  opacity: 0;
  .container{
    @include clearfix;
    position: relative;
    padding-top: $pad;
    padding-bottom: $pad;
    height: 140px;
  }
  .site-logo{
    float: left;
    font-size: $default-headline-size;
    text-transform: uppercase;
    color: #fff;
    line-height: 1;
    &-susan{
      display: block;
      font-weight: 300;
    }
    &-title{
      display: block;
      font-weight: 700;
      margin-top: 0.2em;
    }
  }

  .site-header__nav{
    width: calc(75% - 80px);
    bottom: $pad;
    right: $pad*2;
    @media (max-width: 600px){
      right: $pad;
    }
    
    position: absolute;
    @include clearfix;
    ul{
      float: right;
      @include clearfix;
   }
    li{
      float: left;
      padding-left: 10px;
      @media (max-width: 900px){
        float: none;
      }
    }
    a{
      display: block;
      padding: 0.5em;
      font-size: $default-font-size;
      color: #fff;
      cursor: pointer;
      font-weight: 300;
      transition: all 0.3s;
      @media (max-width: 900px){
        text-align: center;
        font-size: $default-font-size;
      }

      &:hover{
        background: rgba(#000,0.25);
      }
    }
  }
}
.no-touch{
  .site-header{
    &.fixed{
    background:$c-accent-1;
    position: fixed;
    top: 0px;
    opacity: 1;
    }
    &-spacer{
      height: 0;
      &.visible{
        height: 140px;
      }
    }
  }
}
.touch{
  .site-header{
    display: none;
  }
}