.content-viewer{
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  background: $c-bg;
  opacity: 1;
  transition: opacity 0.35s;
  overflow: auto;
  display: flex;
  flex-direction: column;
  .ajax-me{
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .container{
    height: 100%;
  }
  &__header{
    height: 70px;
    background: $c-accent-1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    z-index: 1;
    width: 100%;
  }
  &__heading{
    max-width: $max-width;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 50px + ($pad * 2);
    padding-left: $pad;
    text-transform: uppercase;
    font-size: $large-headline-size;
    font-weight: 300;
    line-height: 1;
    color: #FFF;
  }
  &__close{
    position: absolute;
    top: $pad/2;
    right: $pad/2;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.3);
    background-image: url('../img/svg/close.svg');
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: background 0.35s, transform 0.25s 0.2s;
    &:hover{
      background-color: rgba(0,0,0,.7);
    }
  }
  &__container{
    max-width: $max-width;
    margin: 0 auto;
    // height: calc( 100% - 160px);
    min-height: 300px;
    transition: all 0.5s 0.2s;
    padding-top: $pad + 70px;
    padding-bottom: $pad;
    flex: 1 0 auto;
  }
  &__controls{
    height: 60px;
    background: rgba(0,0,0,0.3);
    &__control{
      $size: 60px;
      width: 50%;
      float: left;
      height: $size;
      line-height: $size;
      background-repeat: no-repeat;
      background-position: center;
      opacity: 0.6;
      background-color: rgba(255,255,255,0.35);
      transition: opacity 0.35s;
      text-align: center;
      cursor: pointer;
      &:hover{
        opacity: 1;
      }
      &--prev{
        background-image: url(../img/svg/arrow-left.svg);
      }
      &--next{
        background-image: url(../img/svg/arrow-right.svg);
     }
    }
  }
  &--empty{
    opacity: 0;
    transform:scale(0);
    .content-viewer__container{
      transform:translate(0, 200px);
      opacity: 0;
    }
    .content-viewer__close{
      transform:scale(0);
    }
  }
}