.content-viewer{
  $pageHeader: 50px;
  $line: 1px;

  position: absolute;
  z-index: 2;
  top: $header;
  @include phone{
    top: 0;
    height: 100%;
  }
  right: 0;
  bottom: 0;
  left: 0;
  background: $c-bg;
  opacity: 1;
  transition: opacity 0.35s;
  overflow: auto;
  display: flex;
  flex-direction: column;
  .ajax-me{
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .container{
    @include phone{
      padding: 0;
    }
  }
  &__header{
    position: absolute;
    height: $pageHeader;
    background: #fff;
    z-index: 1;
    width: 100%;
    //animations
    transition: all 0.35s;
    opacity: 1;
    transform: translate(0,0);
    flex: 0 0 auto;
  }
  &__heading{
    font-size: $large-headline-size;
    font-family: $serif;
    @include phone{
      font-size: $default-heading-size;
    }
    @media ( max-width:  550px ){
      font-size: 18px;
    }
    font-weight: 300;
    line-height: $pageHeader;
    color: $c-text;
    transition: color 0.3s;
    float: left;
    margin-left: .5em;
  }
  &__close{
    float: left;
    width: $pageHeader;
    height: $pageHeader;
    line-height: $pageHeader;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: background 0.35s, transform 0.25s 0.2s;
    position: relative;
    background-color: $c-bg;
    &:before,
    &:after{
      position: absolute;
      display: block;
      content: "";
      width: $pageHeader * 0.6;
      height: $line;
      background: $c-text;
      top: ($pageHeader / 2) - $line;
      left: $pageHeader * 0.2;
      transition: all 0.2s
    }
    &:before{
      transform: rotate(45deg);
    }
    &:after{
      transform: rotate(-45deg);
    }
    &:hover{
      background-color: rgba(0,0,0,.7);
      &:before,
      &:after{
        background-color: #FFF;
      }
    }
  }
  &__container{
    height: 100%;
    overflow: auto;
    @include ios-scroll;
    transition: all 0.5s 0.2s;
    padding-top: $pad*4;
    padding-bottom: $pad*2;
    @include phone{
      padding-bottom: $pad;
    }
    flex: 1 0 auto;
  }
  &__controls{
    float: right;
    &__control{
      @include no-tap-color;
      height: $pageHeader;
      min-width: $pageHeader;
      line-height: $pageHeader;
      font-size: 0.8rem;
      font-weight: 300;
      font-family: $serif;
      letter-spacing:0.05em;
      background-color: #fff;
      display: block;
      float: left;
      color: $c-text;
      padding: 0 1em;
      background-repeat: no-repeat;
      transition: opacity 0.35s;
      text-align: center;
      cursor: pointer;
      position: relative;
      transition: all 0.35s;
      @media ( max-width:  550px ){
        font-size: 0px;
      }
      &:before,
      &:after{
        position: absolute;
        display: block;
        content: "";
        width: $pageHeader * 0.3;
        height: $line;
        background: $c-text;
        transition: all 0.2s        
      }
      &:before{
        bottom: ($pageHeader * 0.4) - $line;
      }
      &:after{
        top: ($pageHeader * 0.4) - $line;
      }      
      &:hover{
      background-color: $c-bg;
      }
      &--prev{
        padding-left: $pageHeader / 1.5;
        &:before{
          transform: rotate(45deg);
          left: $pageHeader * 0.2;
          @media ( max-width:  550px ){
            left: $pageHeader * 0.3;
          }
        }
        &:after{
          transform: rotate(-45deg);
          left: $pageHeader * 0.2;
          @media ( max-width:  550px ){
            left: $pageHeader * 0.3;
          }
        }    
      }
      &--next{
        padding-right: $pageHeader / 1.5;
        &:before{
          transform: rotate(-45deg);
          right: $pageHeader * 0.2;
          @media ( max-width:  550px ){
            right: $pageHeader * 0.3;
          }
        }
        &:after{
          transform: rotate(45deg);
          right: $pageHeader * 0.2;
          @media ( max-width:  550px ){
            right: $pageHeader * 0.3;
          }
        }    

      }
      &--inactive{
        display: none;
      }
    }
  }
  &--empty{
    opacity: 0;
    transform:scale(0);
    .content-viewer__header{
      opacity: 0;
      transform: translate(0,-100%);
    }
    .content-viewer__container{
      transform:translate(0, 200px);
      opacity: 0;
    }
    .content-viewer__close{
      transform:scale(0);
    }
  }
  &--slide-down{
    transition: all 0.5s;
    background-color:rgba(253, 250, 243,0);
    opacity: 0;
    // transform:scale(0);
    .content-viewer__header{
      opacity: 0;
      transform: translate(0,-100%);
    }
    .content-viewer__container{
      transition: all 0.5s;
      // transform:translate(0, 100%);
      opacity: 0;
    }
    .content-viewer__close{
      transform:scale(0);
    }
    .content-viewer__controls{
      transition: all 0.35s;
      opacity: 0;
    }
  }
  &--slideOut-next,
  &--slideOut-back,
  &--slideIn-next,
  &--slideIn-back{
    overflow: hidden;
    .content-viewer__container{
      transition: all 0.4s;
      opacity: 0;
    }
    .content-viewer__heading{
      color: rgba($c-text,0);
    }
  }
  &--slideOut-back,
  &--slideIn-next{
    .content-viewer__container{
      transform: translate(100px, 0);
    }
  }
  &--slideIn-back,
  &--slideOut-next{
    .content-viewer__container{
      transform: translate(-100px, 0);
    }
  }
}